language: python
python:
  - "2.7"
  - "2.7.5"
  - "2.7.9"
  - "2.7.12"
  - "2.7.13"
  - "3.0"

# install recent git version, and make sure the git config
# contains suitable default
before_install:
  - sudo apt-get update -qq
  - sudo add-apt-repository -y ppa:pdoes/ppa
  - sudo apt-get install -qq git
  - git config --global user.email you@example.com
  - git config --global user.name Gitifyhg
  - git config --global push.default simple

# install dependencies and gitifyhg itself;
# py.test is already preinstalled
install:
  - "pip install -q path.py>=2.5"
  - "pip install -q https://www.mercurial-scm.org/release/mercurial-$HG_VERSION.tar.gz"
  - "python setup.py -q install"

# specify various mercurial versions to test against
env:
  - HG_VERSION=4.0.1
  - HG_VERSION=3.5
  - HG_VERSION=3.0.0
  - HG_VERSION=2.8 
  - HG_VERSION=2.6.3
  - HG_VERSION=2.4.2

# command to run actual tests
# We also output the git and hg versions to make sure we are using
# the right ones.
# Also, switch the traceback format to 'short' to work around
# a bug in py.test <= 2.3.4.
script:
  - git --version
  - hg --version
  - cd test
  - make

matrix:
  exclude:
    - python: 2.7
      env: HG_VERSION=1.9.1
